Agente-Secretário - Agendamentos Automáticos/Agente-Secretário - Agendamentos Automáticos.json
{
  "name": "Assistente Pessoal",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json[\"message\"][\"chat\"][\"id\"] }}",
        "tableName": "n8n_personalagent_chat_histories",
        "contextWindowLength": 15
      },
      "id": "6a05af98-cf9b-4151-88ae-b059c503dc69",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        944,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "TBM9EMOvqqBQoBcj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "contacts_data",
        "description": "Retrieves information about contacts and associated email addresses, templates and more.",
        "topK": 8
      },
      "id": "63bc471d-2003-4d10-a00b-a67f22134d90",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1632,
        480
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4f6bca48-bfbf-4ef0-b5b4-0b4cc051af8d",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1552,
        800
      ],
      "credentials": {
        "openAiApi": {
          "id": "E3sASzFe2t91saby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5-nano",
        "options": {}
      },
      "id": "54ca8800-4af3-4e63-8382-477875c0c415",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        800,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "E3sASzFe2t91saby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5-nano",
        "options": {}
      },
      "id": "b14f4300-e669-4507-b034-4a2f9ade83f3",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1808,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "E3sASzFe2t91saby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "d8d0f7fe-2c8b-4256-92e7-93d4317f1367",
      "name": "n8n_demo",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1552,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "LSPPCuA65bx9fhsW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        768,
        224
      ],
      "id": "0fc55a57-d450-471d-9bd8-743b3e355616",
      "name": "Telegram Trigger",
      "webhookId": "7fae735f-650e-46bb-8717-79febd07a201",
      "credentials": {
        "telegramApi": {
          "id": "3ZTkxmOYigEKd0pq",
          "name": "Telegram assistente pessoal"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6410146694",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        224
      ],
      "id": "fc514328-3064-4639-8fb6-5e2ddb77cfe9",
      "name": "Send a text message",
      "webhookId": "457fcff6-495c-4c54-828e-67bdbc04c480",
      "credentials": {
        "telegramApi": {
          "id": "3ZTkxmOYigEKd0pq",
          "name": "Telegram assistente pessoal"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Você é um assistente de agenda.\n\nObjetivo:\n\nInterpretar os comandos recebidos do usuário pelo Telegram.\n\nCriar, consultar e deletar eventos no Google Calendar usando as ferramentas:\n\nCriar → Agendar\n\nConsultar → Localizar\n\nDeletar → Deletar\n\nConfirmar ações (agendamento, deleção ou consulta) com mensagens de texto para o usuário via node Send a text message.\n\nRegras:\n\nAgendar eventos:\n\nSempre extraia e forneça para a ferramenta Agendar os campos:\n\nStart → data e hora de início no formato ISO 8601 com fuso horário do Brasil (ex: 2025-09-30T19:00:00-03:00)\n\nEnd → data e hora de término no mesmo formato (se o usuário não disser, use 1 hora após o início)\n\nSummary → título do evento (ex.: “Reunião com a Pista Pirata”)\n\nDescription → notas adicionais (se houver; caso contrário, deixe vazio)\n\nNão invente dados; se algum campo não for fornecido, pergunte ao usuário no chat.\n\nNão utilize campos que a ferramenta não suporta (por exemplo, não envie attendees se não tiver e-mail válido).\n\nDepois de chamar a ferramenta Agendar com sucesso, envie ao usuário uma mensagem de confirmação no formato:\n“✅ Reunião ‘<Summary>’ agendada para <data> às <hora>.”\n\nConsultar eventos:\n\nSe o usuário perguntar sobre compromissos de um dia ou período, utilize a ferramenta Localizar.\n\nRetorne somente eventos existentes, incluindo Summary, Start, End e link do evento (htmlLink).\n\nResponda de forma objetiva, resumida e natural:\nEx.: “📅 Amanhã você tem 2 reuniões: ‘Reunião com a Pista Pirata’ às 19:00 e ‘Revisão de Projeto’ às 21:00.”\n\nDeletar eventos:\n\nSe o usuário pedir para cancelar um evento, use a ferramenta Deletar.\n\nIdentifique o evento pelo Summary ou horário informado.\n\nPergunte apenas se houver risco de apagar o evento errado e confirme antes de executar.\n\nApós a deleção, envie mensagem de confirmação:\n“❌ Evento ‘<Summary>’ removido do Google Calendar.”\n\nDatas em linguagem natural:\n\nSempre trate datas como “amanhã às 19h”, “sexta-feira às 18h”, etc., como horário de Brasília (UTC-3).\n\nConverta automaticamente para o formato ISO 8601 necessário pelas ferramentas.\n\nMúltiplos comandos em uma mensagem:\n\nSe o usuário fornecer mais de um comando na mesma mensagem (ex.: agendar + deletar ou consultar + agendar), separe mentalmente cada ação.\n\nExecute cada ação na ordem lógica, confirmando individualmente cada uma com o usuário.\n\nEx.:\nUsuário: “Mostre meus eventos de amanhã e cancele ‘Reunião com a Pista Pirata’.”\nResposta do agente:\n1️⃣ “📅 Amanhã você tem 2 reuniões: ‘Reunião com a Pista Pirata’ às 19:00 e ‘Revisão de Projeto’ às 21:00.”\n2️⃣ “❌ Evento ‘Reunião com a Pista Pirata’ removido do Google Calendar.”\n\nComportamento geral:\n\nSua função é interpretar o pedido do usuário e acionar a ferramenta correta.\n\nEvite perguntas desnecessárias sobre título, duração ou local; use o que foi fornecido pelo usuário.\n\nNão devolva JSON cru para o usuário; o JSON é enviado apenas para a ferramenta.\n\nA confirmação para o usuário deve ser curta, natural e clara."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1200,
        224
      ],
      "id": "17d105ef-677c-4984-af38-2168dd410973",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "653e99d4-ec6a-40e7-a32f-8963845d9877",
              "name": "Telefone",
              "value": "={{ $json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        224
      ],
      "id": "b78ca4ae-4e78-46f5-8d85-7d5e72561fa0",
      "name": "dados"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "izack07@gmail.com",
          "mode": "list",
          "cachedResultName": "izack07@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1088,
        480
      ],
      "id": "90a05128-4b9f-494e-bef2-fb9877c14345",
      "name": "Agendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tV0GLfaT7xrSeREO",
          "name": "Google Calendar Pessoal"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "izack07@gmail.com",
          "mode": "list",
          "cachedResultName": "izack07@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1232,
        480
      ],
      "id": "47ca830c-86ad-4df6-a73a-0dafbde2e449",
      "name": "Deletar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tV0GLfaT7xrSeREO",
          "name": "Google Calendar Pessoal"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "izack07@gmail.com",
          "mode": "list",
          "cachedResultName": "izack07@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1376,
        480
      ],
      "id": "05e29ddc-5203-48e6-ab97-39744faea515",
      "name": "Localizar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tV0GLfaT7xrSeREO",
          "name": "Google Calendar Pessoal"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "n8n_demo",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "n8n_demo": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Deletar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Localizar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8274895e-b293-436c-91da-08c0c125fcda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ea17cdb817525a8ebbe13f3da3606db04887c2f5c6526f71cf1a45d36338f16"
  },
  "id": "7rKAMBnmQOw2JE7H",
  "tags": []
}
