Assistente de E-mails Inteligente/Assistente de E-mails Inteligente.json
{
  "name": "Assistente de e-mail",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de e-mail que classifica mensagens e envia alertas via Telegram. Você tem acesso a uma ferramenta de Telegram para me notificar.\n\nSua tarefa é:\n\nAnalisar o e-mail recebido\n\nClassificar em uma categoria\n\nEnviar um alerta via Telegram usando a tool disponível\n\nRecomendar uma ação\n\nCategorias:\n\nAlta Prioridade: Urgente, prazos, ação imediata necessária\n\nSuporte ao Cliente: Dúvidas, problemas técnicos, suporte\n\nPromoções: Marketing, newsletters, ofertas\n\nFinanceiro/Faturamento: Faturas, pagamentos, transações\n\nPessoal: Assuntos pessoais, familiares, amigos\n\nE-mail para analisar:\nAssunto: {{$json.subject}}\nDe: {{$json.from.text}}\nConteúdo: {{$json.text}}\n\nFormato do alerta Telegram:\n📧 [CATEGORIA] - {{$json.subject}}\n👤 De: [remetente]\n📋 Resumo: [2-3 linhas]\n⚡ Urgência: [Baixa/Média/Alta]\n💡 Ação: [recomendação específica]\n\nUse a tool do Telegram para enviar esta notificação imediatamente após sua análise.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -624,
        448
      ],
      "id": "7e4f801c-7ff6-4452-9456-f5b06e81e14b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1152,
        672
      ],
      "id": "7c767972-1f1e-450e-bf93-bf124159087e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "E3sASzFe2t91saby",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6410146694",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -480,
        656
      ],
      "id": "f5b745d6-1cb4-4b45-9d56-aee96a514cba",
      "name": "Send a text message in Telegram",
      "webhookId": "7974c3da-ddb4-4dfb-ba03-9705c58a15b2",
      "credentials": {
        "telegramApi": {
          "id": "YURfYbFFCotqwDrm",
          "name": "Telegram assistente de e-mail"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        448
      ],
      "id": "b3fdd0df-c89e-4440-a16a-c96f31bf73cc",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "MohvmsOybYhdXnT6",
          "name": "Gmail pessoal"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -624,
        672
      ],
      "id": "ec5bbcde-2377-4146-9896-249ad106da34",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "57zFNnBqMCnfeoKa",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a0a2a29-0ef6-4914-9d46-a6fe89ef8471",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ea17cdb817525a8ebbe13f3da3606db04887c2f5c6526f71cf1a45d36338f16"
  },
  "id": "dgHc8r2T0y2S49ee",
  "tags": [
    {
      "createdAt": "2025-09-23T20:37:09.768Z",
      "updatedAt": "2025-09-23T20:37:09.768Z",
      "id": "LZ0GalBLJRiakpcZ",
      "name": "Demo"
    },
    {
      "createdAt": "2025-09-23T20:37:09.716Z",
      "updatedAt": "2025-09-23T20:37:09.716Z",
      "id": "Pp3Taoo9TaySuDaa",
      "name": "Getting Automated"
    },
    {
      "createdAt": "2025-09-23T20:37:09.745Z",
      "updatedAt": "2025-09-23T20:37:09.745Z",
      "id": "Zm57Ngv5rf47KYmD",
      "name": "For Distribution"
    }
  ]
}